<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All cosmetics</title>
</head>
<body>
<h3>Employees</h3>
<div th:each="employee : ${allEmployees}">
    <div th:text="${employee.id}"></div>
    <div th:text="${employee.name}"></div>
    <div th:text="${employee.specialization}"></div>
    <div>
        Services:
        <div th:each="svc : ${employee.services}">
            <div th:text="${svc.name()}"></div>
        </div>
    </div>
    <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Edit</a>
    <a th:href="@{/employees/delete/{id}(id=${employee.id})}">Delete</a>
</div>
</body>
</html>